@import url(fonts.googleapis.com/css?family=Ruslan+Display);
$primaryColor: #614296;
$containerWidth: 100%;

body {
  font-family: 'Ruslan-Display', sans-serif;
  color: $primaryColor;
}

.button {
  display: block;
  padding: 20px;
  width: 80px;
  text-align: center;
  border: 1px solid black;
  width: $containerWidth/8;
}

.authed {
  background-color: darken(red,25%);
  min-height: 50px;
  min-width: 50px;
  width: $containerWidth/8;
  height: $containerWidth/8;
}

.btn-info {
  background-color: blue;
}

.btn-large {
  height: 80px;
  width: 80px;
}

.hugetext {
  $primaryColor: #666666;
  color: $primaryColor;
  font-size: 40px;
}
