@import url(fonts.googleapis.com/css?family=Ruslan+Display);
$primaryColor: #614296;

body {
  font-family: 'Ruslan-Display', sans-serif;
  color: $primaryColor;
}

.button {
  display: block;
  padding: 20px;
  width: 80px;
  text-align: center;
  border: 1px solid black;
}

.authed {
  height: 40px;
  width: 40px;
  background-color: red;
}

.btn-info {
  background-color: blue;
}

.btn-large {
  height: 80px;
  width: 80px;
}

.hugetext {
  $primaryColor: #666666;
  color: $primaryColor;
  font-size: 40px;
}
