html
  head
    title= title
    link(rel='stylesheet' href='/css/index.css')
  body
    h1= message
    a(href='https://www.google.com') Link to Google
    ='\n'
    a(class='button' href='https://www.google.com') Link to Google
