@import url(fonts.googleapis.com/css?family=Ruslan+Display);
body {
  font-family: 'Ruslan-Display', sans-serif;
  color: #614296;
}

.button {
  display: block;
  padding: 20px;
  width: 80px;
  text-align: center;
  border: 1px solid black;
  width: 12.5%;
}

.authed {
  background-color: maroon;
  min-height: 50px;
  min-width: 50px;
  width: 12.5%;
  height: 12.5%;
}

.btn-info {
  background-color: blue;
}

.btn-large {
  height: 80px;
  width: 80px;
}

.hugetext {
  color: #666666;
  font-size: 40px;
}
